body { margin: 0; }

#scene { width: 90%; height: 90%}

/* SVG styling */
svg {
    font-family: helvetica, sans-serif;
}


div.tooltip {
  color: white;
  position: relative;
  text-align: left;
  width: 150px;
  height: 110px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgba(0,0,0,.8);
  border: 2px solid black;
  pointer-events: none;
}
